<html>
<head>
    <script type="text/javascript"
        src="/static/js/jquery/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
    <script type="text/javascript" src="/static/js/sijax/sijax_comet.js"></script>
    <script type="text/javascript">
        {{ g.sijax.get_js()|safe }}
    </script>
</head>

<body>
  <div id="text" >

  <p>Estado del parqueo con código 'A', ubicado en San Pedro</p>

  </div>

    <div id="progressWrapper" style="height: 220px; width: 400px; border: 1px solid #e0e0e0; margin-bottom: 10px;">
        <div id="progress" style="width: 400px; height: 100%; background-color: #DCDCDC; display: block;">
            &nbsp;
        </div>
    </div>

    <script type="text/javascript">
     sjxComet.request('do_work', [0.5]);
    </script>
</body>
</html>